/* #13336B blue */
/* #face2c yellow */

body {
  background: #13336b;
}
li {
  list-style: none;
}

.container {
  width: 80%;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  text-align: center;
  background: #39689c66;
  color: #fff;
}
@media screen and (min-width: 375px) {
  .container {
    width: 80%;
    padding: 2rem 2.5rem;
  }
}
@media screen and (min-width: 569px) {
  .container {
    width: 60%;
    padding: 2.5rem 3rem;
  }
}

.mb-4 {
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .w-lg-50 {
    width: 50% !important;
  }
}

.form-label {
  margin-bottom: 1rem;
}
.invalid-feedback {
  display: block;
  color: #face2c;
}

.btn-secondary {
  background: #face2c;
  color: #685306;
  padding: 0.5rem 1rem;
}
.btn-secondary:hover {
  background: #685306;
  color: #e9d15e;
}

.star {
  position: absolute;
  color: #e9d15e;
  width: 8px;
  height: 8px;
  /* border-radius: 50%; */
}
.starAnimation1 {
  -webkit-animation: fadeOut 2s infinite linear;
  animation: fadeOut 2s infinite linear;
}
.starAnimation2 {
  -webkit-animation: fadeOut2 2s infinite linear;
  animation: fadeOut2 2s infinite linear;
}
@-webkit-keyframes fadeOut {
  0% {
    -webkit-opacity: 0.3;
  }
  50% {
    -webkit-opacity: 1;
  }
  100% {
    -webkit-opacity: 0.3;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
@-webkit-keyframes fadeOut2 {
  0% {
    -webkit-opacity: 1;
  }
  50% {
    -webkit-opacity: 0.3;
  }
  100% {
    -webkit-opacity: 1;
  }
}
@keyframes fadeOut2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.response-text {
  font-size: 1.25rem;
  margin-bottom: 5rem;
}
.response-text-sm {
  border-bottom: 1px solid;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
  font-size: 0.875rem;
  color: #faebd7;
}
@media screen and (min-width: 768px) {
  .response-text-sm {
    font-size: 1rem;
  }
}
